<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</head>
<body>
{% block body %}
    {% block sidebar %}
        <div class="d-flex flex-column text-white bg-dark p-3" style="width: 280px; height: 100vh;">
            <h2>Test</h2>
            <hr>
            <ul class="nav nav-pills flex-column mb-auto">
                <li class="nav-item">
                    <a href="#" class="nav-link text-white ">
                        <i class="bi bi-speedometer2 me-2"></i>
                        Dashboard
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link text-white">
                        <i class="bi bi-calendar me-2"></i>
                        Agenda
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link text-white">
                        <i class="bi bi-list-task me-2"></i>
                        Tasks
                    </a>
                </li>
            </ul>
            <hr>
            <div class="dropdown">
                <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                    <img src="{{ asset('build/images/Richard_Logo.png') }}" alt="" class="rounded-circle me-2">
                    <strong>Richard Vullings</strong>
                </a>
                <ul class="dropdown-menu dropdown-menu-dark text-small" aria-labelledby="dropdown-user">
                    <li>
                        <a href="#" class="dropdown-item">Profile</a>
                    </li>
                    <li>
                        <a href="#" class="dropdown-item">Settings</a>
                    </li>
                    <li>
                        <a href="#" class="dropdown-item">New task</a>
                    </li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li>
                        <a href="#" class="dropdown-item">Logout</a>
                    </li>
                </ul>
            </div>
        </div>
    {% endblock %}
{% endblock %}
</body>
</html>